body {
    display: flex;
    flex-direction: column;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: row;
}

article {
    flex: 3 3 0%;
    order: 2;
}

article, nav, aside, footer, header {
    height: auto;
    border: solid black;
    background-color: lightgrey;
    margin: 2px;
    padding: 1em;
    border: 2px inset darkgrey;
    border-radius: 5px;
}

nav {
    flex: 0 0 0%;
    order: 1;
}

.button {
    display: inline-block;
    border-radius: 10px;
    padding: 20px 30px;
    width: auto;
    font-size: 2vw;
    margin: 10px auto;
    vertical-align:bottom;
    white-space: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#main_content {
    background-color: grey;
}

#task-container >* {
    height: auto;
}

#question {
    font-size:2em;
}

#mathe, #it {
    position: relative;
    height: auto;
    width: auto;
    font-size: 1.5em;
    width: 7em;
    height: 2em;
    padding: 5px 1.5em;
    margin-bottom: 15px;
}

#top_name {
    text-align: -webkit-center;
    display: block;
    padding: 5px;

}

#side_panel{
    flex: 1 1 0%;
    order: 3;
}

footer {
    display: block;
}